.container-sidebar {
    border-right: 1px solid #b9b9b9;
    background-color: #eee;
    padding: 20px 50px 20px 50px;
    // max-height: 700px;
    font-size: 24px;
    display: flex;
    flex-direction: column;

    P {
        color: rgb(195, 141, 158);
    }

    ul {
        list-style: none;

        li {
            font-size: 22px;
            color: #501f3a;
            cursor: pointer;
            margin: 15px 0px 15px 0px;
        }

        li:hover {
            color: #501f3a;
            text-decoration: underline;
        }
    }

    .container-addBtn {
        button {
            border: none;
            padding-bottom: 15px;
            min-height: 60px;
            max-width: 60px;
            font-size: 50px;
            display: grid;
            place-content: center;
            border-radius: 100%;
            background-color: rgb(195, 141, 158);
            box-shadow: 5px 5px 10px 2px #0000005e;
        }

        button:hover {
            background-color: rgb(195, 141, 158) !important;
        }
    }
}

.container-modal {
    min-width: 900px;
    // min-height: 500px;
    background-color: #fff;
    header {
        outline: 1px solid cyan;
        background-color: #c38d9e;
        color : #f7f7f7;
        padding-left : 10px;
        font-family: 'Lato', sans-serif;
    }

    li{
        list-style: none;
    }

    .modal-main{
        // padding : 0px 150px 0px 150px;
        display : flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: 'Lato', sans-serif;

        .modal-main-left{
            outline : 1px solid violet;
            padding : 10px 20px 10px 20px;
            min-height: 500px;
            background-color: #eee;
            flex : 0 0 30%;
            li{
                margin : 5px 0px 5px 0px;
                font-size: 18px;
            }

            li:hover{
                cursor : pointer;
                text-decoration: underline;
                color :rgb(195, 141, 158); 
            }
        }

        .modal-main-right{
            outline : 1px solid gold;
            min-height : 500px;
            flex : 0 0 70%;
            padding-left : 1px;
            input, textarea{
                border : none;
                font-family: 'Lato', sans-serif;
                min-height : 50px;
                font-size: 20px;
            }

            input:focus, textarea:focus{
                box-shadow : none;
            }
        }
    }
}

.ant-modal-content{
    background-color: red;
    position: relative;
    padding: 0 !important;
    svg{
        color : #fff;
        margin-top : -10px;
    }
}

.ant-modal-footer{
    position : absolute;
    right: 0;
    bottom : 10px;
}

.ant-modal{
    min-width: 900px;
}