.container-sidebar {
    outline: 1px solid cyan;
    border-right: 1px solid #b9b9b9;
    background-color: #eee;
    padding : 20px 50px 20px 50px;
    max-height: 100%;
    font-size: 24px;

    P{
        color : rgb(195, 141, 158);
    }

    ul {
        list-style: none;

        li {
            color: #501f3a;
            cursor: pointer;
            margin: 25px 0px 25px 0px;
        }

        li:hover{
            color: #501f3a;
            text-decoration: underline;
        }
    }

    .top-sidebar {
        ul {
            li {}
        }
    }

    .container-addBtn{
        button{
            min-height: 60px;
            max-width: 60px;
            font-size: 50px;
            display: grid;
            place-content: center;
            border-radius: 100%;
            background-color: rgb(195, 141, 158);
            box-shadow: 5px 5px 10px 2px #0000005e;
        }

        button:hover{
            background-color: rgb(195, 141, 158) !important;
        }
    }
}