.container-main-component{
    // max-width: 1200px;
    min-width: 1200px;
    // min-height: 750px;
    // max-height: 720px;
    margin: 0 auto;

    .container-section{
        display : flex;
        justify-content: space-between;
        // max-height: 620px;

        .container-sidebar{
            flex : 0 0 30%;
        }

        .container-main-section{
            flex : 0 0 70%;
        }
    }
}